{% extends 'base.html' %}
{% load static %}

{% block title %}
    Post page
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'post/css/post.css' %}">
{% endblock %}

{% block content %}
    <h1>Post</h1>
    {% for post in posts %}
        <p>{{ post.title }}</p>
        <p>{{ post.content }}</p>
        <p>Posted by: {{ post.author }}</p>
    {% endfor %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Create</button>
    </form>

    
{% endblock %}
